<div class="bg-[#202c33] w-1/6 h-screen z-0 shadow-2xl text-gray-300">
    <div class="h-full overflow-y-auto">
        <ul class="ssd font-medium">
            <li>
                <div class="justify-center w-full border-b-2 border-[#2a3942] pb-10 pt-10">
                    <a href="{%url 'user:panel' %}" class="text-6xl font-semibold">EasyMail</a>
                </div>
            </li>
            <li>
                <button type="button" class="flex items-center w-full p-2 transition duration-75 group hover:bg-gradient-to-r from-cyan-900 to-emerald-900" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                    <i class="fa-solid fa-envelopes-bulk text-xl"></i>
                    <span class="flex-1 ms-3 text-left font-bold rtl:text-right whitespace-nowrap">Inbox</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <ul id="dropdown-example" class="py-2">
                    <li>
                       <a href="{% url 'inbox:email_send' %}" class="flex items-center w-full p-2 transition duration-75 pl-11 group hover:bg-teal-800">
                            Send email
                        </a>
                    </li>
                    <li>
                       <a href="{% url 'inbox:message_template_list' %}" class="flex items-center w-full p-2 transition duration-75 pl-11 group hover:bg-teal-800">View sent emails</a>
                    </li>
              </ul>
            </li>
            <li>
                <button type="button" class="flex items-center w-full p-2 transition duration-75 group hover:bg-gradient-to-r from-cyan-900 to-emerald-900" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                    <i class="fa-solid fa-envelope text-xl"></i>
                    <span class="flex-1 ms-3 text-left font-bold rtl:text-right whitespace-nowrap">Messages</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                       <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
              </button>
              <ul id="dropdown-example" class="py-2">
                    <li>
                       <a href="{% url 'inbox:message_template_creation' %}" class="flex items-center w-full p-2 transition duration-75 pl-11 group hover:bg-teal-800">Create a new template</a>
                    </li>
                    <li>
                       <a href="{% url 'inbox:message_template_list' %}" class="flex items-center w-full p-2 transition duration-75 pl-11 group hover:bg-teal-800">View template list</a>
                    </li>
              </ul>
            </li>
            <li>
                <button type="button" class="flex items-center w-full p-2 transition duration-75 group hover:bg-gradient-to-r from-cyan-900 to-emerald-900" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                    <i class="fa-solid fa-user text-xl"></i>
                    <span class="flex-1 ms-3 text-left font-bold rtl:text-right whitespace-nowrap">Recipients</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <ul id="dropdown-example" class="py-2">
                    <li>
                       <a href="{% url 'inbox:recipient_registration' %}" class="flex items-center w-full p-2 transition duration-75 pl-11 group hover:bg-teal-800">Register new recipient</a>
                    </li>
                    <li>
                       <a href="{% url 'inbox:recipient_list' %}" class="flex items-center w-full p-2 transition duration-75 pl-11 group hover:bg-teal-800">View recipients list</a>
                    </li>
                </ul>
            </li>
            <li>
                <button type="button" class="flex items-center w-full p-2 transition duration-75 group hover:bg-gradient-to-r from-cyan-900 to-emerald-900" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                    <i class="fa-solid fa-users text-xl"></i>
                    <span class="flex-1 ms-3 text-left font-bold rtl:text-right whitespace-nowrap">Groups</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <ul id="dropdown-example" class="py-2">
                    <li>
                       <a href="{% url 'inbox:group_registration' %}" class="flex items-center w-full p-2 transition duration-75 pl-11 group hover:bg-teal-800">Create a new group</a>
                    </li>
                    <li>
                       <a href="{% url 'inbox:group_list' %}" class="flex items-center w-full p-2 transition duration-75 pl-11 group hover:bg-teal-800">View group list</a>
                    </li>
              </ul>
            </li>

            <ul class="flex">
                <li>
                    <a href="{% url 'user:profile' %}" class="flex items-center w-full p-2 transition duration-75 group hover:bg-teal-800">Profile</a>
                </li>    
                <li>
                    <form action="{% url 'user:logout' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Logout" class="flex items-center w-full p-2 transition duration-75 group hover:bg-teal-800">
                    </form>
                </li>
            </ul>
        </ul>
    </div>
</div>
