{% extends 'base.html' %}
{% load render_email_fields %}
{% load numeric_tags %}

{% block content %}
<div class="min-h-full max-w-full">
    <div class="self-center p-10 m-5 bg-[#202c33] rounded-lg shadow text-gray-300 max-w-full">
        <h1 class="text-3xl text-white mb-5 text-center">Send an E-mail</h1>
        <form action="{% url 'inbox:email_send' %}" method="GET">
            {% for field in fields %}
                <div id="to_method" class="mb-2">
                    <p class="text-white uppercase">{{ field }}:</p>
                    {% render_email_field request field recipients groups %}
                </div>
            {% endfor %}
            <div id="content_method" class="mb-2">
                <p class="text-white">Email Content: </p>
                <div class="flex gap-3 mb-5">
                    <select 
                        name="content_method" 
                        class="block basis-1/5 p-2.5 form-control backdrop-blur bg-[#202c33] mb-2 border-b-2 border-gray-300 w-full focus:outline-none focus:border-teal-800"
                        onchange="this.form.submit()"
                    >
                        <option {% if request.GET.content_method == 'manual' or not request.GET.to_method %} selected {% endif %} value="manual">
                            Manual
                        </option>
                        <option {% if request.GET.content_method == 'template' %} selected {% endif %} value="template">Message Template</option>
            
                    </select>

                    {% if request.GET.content_method == 'template' %}
                        <select 
                            name="template_subject" 
                            class="block basis-4/5 p-2.5 form-control backdrop-blur bg-[#202c33] mb-2 border-b-2 border-gray-300 w-full focus:outline-none focus:border-teal-800"
                            onchange="this.form.submit()"
                        >
                        <option selected disabled value="0">Select an option</option>
                            {% for template in templates %}
                                <option {% if template.pk == request.GET.template_subject|to_int %} selected {% endif %} value="{{ template.pk }}">{{ template }}</option>
                            {% endfor %}
                        </select> 

                    {% else %}
                        <input
                            type="text"
                            name="subject"
                            class="block basis-4/5 p-2.5 form-control backdrop-blur bg-[#202c33] mb-2 border-b-2 border-gray-300 w-full focus:outline-none focus:border-teal-800"
                            value="{{ request.GET.subject }}"
                            placeholder="{% if request.GET.subject %}{{ request.GET.subject }}{% else %}Subject{% endif %}"
                        >
                    {% endif %}
                </div>

                <textarea
                    name="content"
                    class="block basis-4/5 p-2.5 form-control backdrop-blur bg-[#202c33] mb-2 border-2 border-gray-300 w-full focus:outline-none focus:border-teal-800 min-h-[300px]"
                >
                    {% if request.GET.content_method == 'template' %}
                        {{ content|safe }}
                    {% else %}
                        {{ request.GET.content|safe }}
                    {% endif %}
                </textarea>
            </div>
        </form>
    </div>
</div>
{% endblock %}
