{% extends 'base.html' %}

{% block content %}
<div class="flex m-5 rounded-lg">
    <h1 class="text-3xl text-white">Send an E-mail</h1>

        <select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
        </select>    

        <div class="mb-5">
            <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail title:</label>
            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
</div>          
{% endblock %}