{% extends 'base.html' %}

{% block content %}
<div class="m-5 rounded-lg">
    <h1 class="text-3xl text-white mb-5">Send an E-mail</h1>

    <form action="{% url 'inbox:email_send' %}" method="GET">
        <div id="to_method" class="mb-5">
            <p class="text-white">To:</p>
            <div class="flex gap-3">
                
                <select 
                    name="to_method" 
                    class="block basis-1/5 p-2.5 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                    onchange="this.form.submit()"
                >
                    <option selected disabled value="">Select an option</option>
                    <option {% if request.GET.to_method == 'manual' %} selected {% endif %} value="manual">Manual</option>
                    <option {% if request.GET.to_method == 'recipient' %} selected {% endif %} value="recipient">In Contacts</option>
                    <option {% if request.GET.to_method == 'group' %} selected {% endif %} value="group">Group</option>
                    <option {% if request.GET.to_method == 'file' %} selected {% endif %} value="file">Contacts in File</option>
                </select> 
                
                {% if request.GET.to_method == 'manual' %}
                <input type="text" name="to" class="block basis-4/5 p-2.5 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"></input>

                {% elif request.GET.to_method == 'recipient' %}
                <select name="to" id="" class="block basis-4/5 p-2.5 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <option selected value="">Select an option</option>
                    {% for recipient in recipients %}
                        <option {% if recipient.pk == request.GET.to %} selected {% endif %} value="{{ recipient.pk }}">{{ recipient }}</option>
                    {% endfor %}
                </select>

                {% elif request.GET.to_method == 'group' %}
                <select name="to" id="" class="block basis-4/5 p-2.5 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <option selected value="">Select an option</option>
                    {% for group in groups %}
                    <option value="{{ group.id }}">{{ group }}</option>
                    {% endfor %}
                </select>

                {% elif request.GET.to_method == 'file' %}
                    <input type="file" name"to" id="file" class="block basis-4/5 p-2.5 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                {% endif %}

            </div>

        </div>

        <div id="content_method" class="mb-5">
            <p class="text-white">Email Content: </p>
            <div class="flex gap-3">
                
                <select 
                    name="content_method" 
                    class="block basis-1/5 p-2.5 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                    onchange="this.form.submit()"
                >
                    <option selected disabled value="none">Select an option</option>
                    <option {% if request.GET.content_method == 'manual' %} selected {% endif %} value="manual">Manual</option>
                    <option {% if request.GET.content_method == 'template' %} selected {% endif %} value="template">Message Template</option>
         
                </select> 
                
                {% if request.GET.content_method == 'manual' %}
                <p class="text-white">manual selected</p>

                {% elif request.GET.content_method == 'template' %}
                <p class="text-white">templated selected</p>
                {% endif %}

            </div>

        </div>
    </form>
</div>          
{% endblock %}
