{% extends 'base.html' %}

{% block content %}
<form>
    <div class="flex items-center justify-center min-h-screen">
        <div class="box-content bg-gray-500 pb-20 pt-20 px-20 py-20 m-5 rounded">
            <h1 class="text-center font-bold text-black text-3xl mb-20">Create your message template:</h1>
            <form method="POST" action="{% url 'inbox:message_template_creation' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" class="btn btn-primary btn-block mt-3 p-2 bg-indigo-500 hover:bg-indigo-600 rounded">
            </form>
        </div>
    </div>
{% endblock %}