{% extends 'base.html' %}

{% block content %}
<div class="m-5 rounded-lg">


<div class="bg-[#0b141a] grid grid-cols-3 px-6 py-3 text-gray-300 font-bold">
    <div>
    </div>
    <div class="text-center text-white text-3xl">
        <p>Message Template List</p>
    </div>
    <form action="" method="GET" class="flex items-center px-10 gap-1">
        <p>SEARCH:</p>
        <input type="text" value="{{ search }}" name="search" class="w-full bg-inherit border-b-2 border-gray-300 focus:outline-none focus:border-teal-800 text-white p-2 cursor-pointer">
        <button type="submit" class="bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <a href="{% url 'inbox:recipient_list' %}" class="bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
            <i class="fa-solid fa-xmark"></i>
        </a>
    </form>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs font-bold text-gray-300 uppercase">
            <tr class="bg-[#202c33]">
                <th class="px-6 py-3">Subject</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

        {% for template in templates %}
            <tr class="bg-[#2a3942] border-b border-[#202b32] text-gray-300 hover:bg-teal-800">
                <td class="px-6 py-4 whitespace-nowrap">
                    {{ template.subject }}
                </td>
                <td scope="row">
                    {{ template.description }}
                </td>
                <td>
                    <a href="{% url 'inbox:message_template_update' template.id %}" class="mr-2">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="{% url 'inbox:message_template_delete' template.id %}" class="ml-2">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" class="text-center py-4">No templates registered</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'pagination_controls.html' %}
</div>
{% endblock %}