{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col justify-center w-full">
    <div class="flex items-center justify-center min-h-screen">
        <div class="p-10 bg-[#202c33] rounded-lg shadow text-gray-300">
            <h1 class="text-center text-3xl mb-10">Are you sure you want to delete "{{ object }}"</h1>
            <form method="post">{% csrf_token %}
                {{ form }}
                <input type="submit" value="Confirm">
            </form>
        </div>
    </div>
    <div>
{% endblock %}