{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col justify-center w-full">
<div class="flex items-center justify-center min-h-screen">
    <div class="p-10 bg-[#202c33] rounded-lg shadow text-gray-300">
        <h1 class="text-center text-3xl mb-10">{{ operation_name }}</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="grid grid-cols-2 gap-4 mb-4">
                <div>
                    <label for="{{ form.name.id_for_label }}" class="block text-sm font-medium uppercase">Primeiro nome:</label>
                    {{ form.name }}
                </div>
                <div>
                    <label for="{{ form.last_name.id_for_label }}" class="block text-sm font-medium uppercase">Sobrenome:</label>
                    {{ form.last_name }}
                </div>
            </div>
           
            <div class="grid grid-cols-2 gap-4 mb-4">
                <div>
                    <label for="{{ form.employee_id.id_for_label }}" class="block text-sm font-medium uppercase">Chave Petrobras:</label>
                    {{ form.employee_id }}
                </div>
                <div>
                    <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium uppercase">E-mail:</label>
                    {{ form.email }}
                </div>
            </div>
            <input type="submit" value="{{ button_value }}" class="w-full bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
        </form>
    </div>
</div>
<div>
{% endblock %}
