{% extends 'base.html' %}

{% block content %}
<div class="overflow-x-auto m-5 rounded-lg">

    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs font-bold text-gray-300 uppercase">
            <tr class="bg-[#0b141a]">
                <th scope="col" class="text-center font-bold text-white text-3xl mb-20 px-6 py-3 " colspan="5">
                    Recipients List
                </th>
            </tr>
            <tr class="bg-[#202c33]">
                <th class="px-6 py-3">Name</th>
                <th>Last Name</th>
                <th>Employee ID</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

        {% for recipient in recipients %}
            <tr class="bg-[#2a3942] border-b border-[#202b32] text-gray-300 hover:bg-teal-800">
                <td class="px-6 py-4 whitespace-nowrap">
                    {{ recipient.name }}
                </td>
                <td>
                    {{ recipient.last_name }}
                </td>
                <td scope="row">
                    {{ recipient.employee_id }}
                </td>
                <td>
                    {{ recipient.email }}
                </td>
                <td>
                    <a class="mr-2" href="{% url 'inbox:recipient_update' recipient.id %}">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="{% url 'inbox:recipient_delete' recipient.id %}">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" class="text-center py-4">No recipient registered</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Pagination controls -->
    <div class="pagination flex flex-col items-center text-gray-300 font-medium bg-[#202c33]">
        <span class="step-links">
            <span class="current text-gray-700 dark:text-gray-400">
                Page <span class="font-semibold text-gray-900 dark:text-white">{{ recipients.number }}</span>
                of <span class="font-semibold text-gray-900 dark:text-white">{{ recipients.paginator.num_pages }}</span>.
            </span>
            <div class="inline-flex m-2">
                {% if recipients.has_previous %}
                    <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page=1">&laquo; First</a>
                    <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page={{ recipients.previous_page_number }}">Prev</a>
                {% endif %}
                
                {% if recipients.has_next %}
                    <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page={{ recipients.next_page_number }}">Next</a>
                    <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page={{ recipients.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </div>
        </span>
    </div>
</div>
{% endblock %}
