{% extends 'base.html' %}

{% block content %}
<div class="overflow-x-auto m-5 rounded-lg">

    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs font-bold text-gray-300 uppercase">
            <tr class="bg-[#0b141a]">
                <th scope="col" class="text-center font-bold text-white text-3xl mb-20 px-6 py-3 " colspan="5">
                    Recipients List
                </th>
            </tr>
            <tr class="bg-[#202c33]">
                <th class="px-6 py-3">Name</th>
                <th>Last Name</th>
                <th>Employee ID</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

        {% for recipient in recipients %}
            <tr class="bg-[#2a3942] border-b border-[#202b32] text-gray-300 hover:bg-teal-800">
                <td class="px-6 py-4 whitespace-nowrap">
                    {{ recipient.name }}
                </td>
                <td>
                    {{ recipient.last_name }}
                </td>
                <td scope="row">
                    {{ recipient.employee_id }}
                </td>
                <td>
                    {{ recipient.email }}
                </td>
                <td>
                    <a href="{% url 'inbox:recipient_update' recipient.id %}" class="mr-2">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="{% url 'inbox:recipient_delete' recipient.id %}" class="ml-2">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" class="text-center py-4">No recipient registered</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'pagination_controls.html' %}
</div>
{% endblock %}