{% extends 'base.html' %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="p-10 m-5 bg-[#202c33] rounded-lg shadow text-gray-300">
        <h1 class="text-center text-3xl mb-10">Registration</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="grid grid-cols-2 gap-4 mb-4">
                <div>
                    <label for="{{ form.first_name.id_for_label }}" class="block text-sm font-medium">First Name:</label>
                    {{ form.first_name }}
                </div>
                <div>
                    <label for="{{ form.last_name.id_for_label }}" class="block text-sm font-medium">Last Name:</label>
                    {{ form.last_name }}
                </div>
            </div>

            <div class="mb-4">
                <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium">Email:</label>
                {{ form.email }}
            </div>
            
            <div class="grid grid-cols-2 gap-4 mb-4">
                <div>
                    <label for="{{ form.employee_id.id_for_label }}" class="block text-sm font-medium">Employee ID:</label>
                    {{ form.employee_id }}
                </div>
                <div>
                    <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium">Password:</label>
                    {{ form.password }}
                </div>
            </div>
            <input type="submit" value="Register" class="w-full bg-[#8696a0] hover:bg-teal-800 text-white p-2 rounded mt-3 cursor-pointer">
        </form>
    </div>
</div>
{% endblock %}
