{% extends 'base.html' %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="p-10 m-5 border-2 border-green-900 rounded">
        <h1 class="text-center text-3xl mb-10">Registration</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register" class="btn btn-primary btn-block mt-3 p-2 bg-green-500 hover:bg-green-600 rounded">
        </form>
    </div>
</div>
{% endblock %}
