<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>








{% if user.is_authenticated %}
{% include 'navbar_authenticated.html'%}
<body class="w-full flex flex-row bg-gray-300 text-black relative">
{% include 'sidebar.html' %}
<div class='basis-3/4 relative'>

{% else %}
{% include 'navbar_not_authenticated.html' %}
<body class="w-full bg-gray-300 text-black">
<div>

{% endif %}

{% block content %}
{% endblock %}
</div>
</body>
</html>