<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>








{% if user.is_authenticated %}
{% include 'navbar_authenticated.html'%}
<body class="bg-gray-300 text-black">
{% include 'sidebar.html' %}

{% else %}
{% include 'navbar_not_authenticated.html' %}
<body class="bg-gray-300 text-black">

{% endif %}

{% block content %}
{% endblock %}
</body>
</html>