<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="w-full text-black">
    {% if user.is_authenticated %}
    {% include 'navbar_authenticated.html' %}
    <div class="flex w-full mt-20">
        {% include 'sidebar.html' %}
        <div class="w-5/6 bg-teal-700">

    {% else %}
    {% include 'navbar_not_authenticated.html' %}
    <div class='mt-20 bg-teal-700 min-h-screen min-w-screen'>
        <div>
    {% endif %}

    {% block content %}
    {% endblock %}
        </div>
    </div>
</body>

</html>
