<nav class="bg-slate-200/85 fixed w-full z-20 top-0 start-0 backdrop-blur border-b-2 border-green-900">
    <div class="flex w-1/6 space-x-3 border-r-2 border-green-900 items-center justify-center">
        <a href="{%url 'user:panel' %}" class="text-2xl font-semibold whitespace-nowrap">EasyMail</a>
    </div>

    <div class="flex w-4/6 items-center justify-between" id="navbar-sticky">
        <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
        </ul>
    </div>

    <div class="flex w-1/6 border-l-2 border-green-900 items-center justify-evenly">
        <a href="{% url 'user:profile' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent hover:text-green-800">Profile</a>
        <form action="{% url 'user:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Logout" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent hover:text-green-800">
        </form>
        <a data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-sticky" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
        </a>
    </div>
</nav>