<nav class="sticky mt-8 container mx-auto bg-gray-900 border-black border-solid border outline-1 w-9/12 py-5 opacity-90 rounded-xl">
        <ul class="grid grid-cols-4 gap-4">
            <div class="justify-center">
                <li class="font-extrabold text-xl"><a href="">Home</a></li>
            </div>
            <li class="justify-start text-md"><a href="">About</a></li>
            <div></div>
            <div class="flex justify-around text-md">
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
            </div>
        </ul>
</nav>
