<div class="pagination items-center justify-center text-gray-300 font-medium bg-[#202c33]">
    <span class="step-links grid grid-cols-3 items-center justify-center">
        <div class="inline-flex m-2">
            {% if pagination.has_previous %}
                <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page=1">&laquo; First</a>
                <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page={{ pagination.previous_page_number }}">Prev</a>
            {% endif %}
        </div>

        <span class="current text-gray-700 dark:text-gray-400">
            Page <span class="font-semibold text-gray-900 dark:text-white">{{ pagination.number }}</span>
            of <span class="font-semibold text-gray-900 dark:text-white">{{ pagination.paginator.num_pages }}</span>.
        </span>
        
        <div class="inline-flex m-2">
            {% if pagination.has_next %}
                <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page={{ pagination.next_page_number }}">Next</a>
                <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page={{ pagination.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </div>
    </span>
</div>