<div class="pagination text-gray-300 text-md font-medium bg-[#202c33]">
    <span class="step-links flex flex-row items-center justify-center">
        <div class="basis-1/3 inline-flex m-2 justify-center">
            {% if pagination.has_previous %}
                <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page=1">&laquo; First</a>
                <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page={{ pagination.previous_page_number }}">Previous</a>
            {% endif %}
        </div>
        <div class="basis-1/3 flex justify-center">
            <span class=" current text-gray-700 dark:text-gray-400 ">
                Page <span class="font-semibold text-gray-900 dark:text-white">{{ pagination.number }}</span>
                of <span class="font-semibold text-gray-900 dark:text-white">{{ pagination.paginator.num_pages }}</span>.
            </span>
        </div>
        <div class="basis-1/3 inline-flex m-2 justify-center">
            {% if pagination.has_next %}
                <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page={{ pagination.next_page_number }}">Next</a>
                <a class="flex items-center justify-center px-3 h-8 font-medium text-white bg-[#202c33] rounded hover:bg-teal-800" href="?page={{ pagination.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </div>
    </span>
</div>
