<div class="w-64 bg-slate-800 h-screen p-5">
    <ul>
        <li class="mb-4 text-xl hover:text-cyan-400">
            <a href="#">Gerenciar E-mails</a>
        </li>
        <li class="mb-4 text-xl hover:text-cyan-400">
            <a href="#">Gerenciar Grupos</a>
        </li>
        <li class="mb-4 text-xl hover:text-cyan-400">
            <a href="#">Gerenciar Destinatários</a>
        </li>
        <li class="mb-4 text-xl hover:text-cyan-400">
            <a href="#"></a>
        </li>
    </ul>
</div>
